.content {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 22px 25.5px 0 25px;
  overflow: auto;
}

.content__empty-state {
  align-self: center;
}

.content__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content__single-result {
  width: 100%;
  height: 106.9px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 13.5px 15.3px;
  margin-bottom: 10px;
}

.content__result-img {
  min-width: 120.5px;
  height: 100%;
  background-color: #7dc074;
  color: #ffffff;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}

.content__result-info {
  padding-left: 19.2px;
}

.content__result-info > * {
  margin: 0;
}

.content__result-name {
  word-break: break-word;
  font-size: 15px;
  color: #1a0e49;
}

.content__result-type {
  font-size: 12px;
}

.content__result-location {
  font-size: 9px;
}

.content__result-type,
.content__result-location {
  color: #8d8c8c;
}

.content__no-result {
  text-align: center;
  margin-top: 148px;
  font-size: 17px;
  color: #b5b4b4;
}

@media screen and (min-width: 415px) {
  .content__empty-state {
    font-size: 20px;
  }
  .content__single-result {
    height: 150px;
  }
  .content__result-img {
    min-width: 220.5px;
    font-size: 65px;
  }
  .content__result-info {
    padding-left: 25.2px;
  }
  .content__result-name {
    font-size: 18px;
  }
  .content__result-type {
    font-size: 15px;
  }
  .content__result-location {
    font-size: 14px;
  }
  .content__no-result {
    margin-top: 248px;
    font-size: 20px;
  }
}

@media screen and (min-width: 769px) {
  .content__single-result {
    height: 200px;
  }
  .content__result-img {
    min-width: 280.5px;
    font-size: 85px;
  }
  .content__result-name {
    font-size: 24px;
  }
  .content__result-type {
    font-size: 18px;
  }
  .content__result-location {
    font-size: 16px;
  }
  .content__no-result {
    margin-top: 348px;
    font-size: 24px;
  }
}
