* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.home {
  background-color: #ebe9d7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  height: 75.5px;
  background-color: #ee4c77;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar__logo {
  height: 28.5px;
  width: 117.1px;
  align-self: center;
}

.navbar__search-icon {
  height: 30px;
  width: 30px;
  align-self: center;
  position: absolute;
}

.navbar__search-icon--align-right {
  right: 20px;
}

.navbar__search-icon--align-left {
  left: 20px;
}

.navbar__search-bar {
  width: 100%;
  margin: 15px 20.9px 11px 21px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  font-size: 17px;
  color: white;
  padding: 0 0 0 30px;
}

.navbar__search-bar::placeholder {
  color: #991237;
}

.content {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 22px 25.5px 0 25px;
}

.content__empty-state {
  align-self: center;
}

.content__list {
  width: 100%;
}

.content__single-result {
  width: 100%;
  height: 106.9px;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 13.5px 15.3px;
}

.content__result-img {
  width: 146.5px;
  height: 80px;
  background-color: green;
}

.content__result-info {
  padding-left: 19.2px;
}

.content__result-info > * {
  margin: 0;
}

.content__result-name {
  font-size: 15px;
  color: #1a0e49;
}

.content__result-type {
  font-size: 12px;
}

.content__result-location {
  font-size: 9px;
}

.content__result-type,
.content__result-location {
  color: #8d8c8c;
}
