.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth > * {
  align-self: center;
  margin: 0;
}

.auth__logo {
  width: 147.5px;
  margin-bottom: 33.5px;
}

.auth__welcome {
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10.3px;
}

.auth__text {
  text-align: center;
  font-size: 9px;
  width: 178.9px;
  margin-bottom: 23.8px;
  color: #383743;
}

.auth__form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth__single-field {
  width: auto;
  width: 175.5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.auth__field {
  align-self: center;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #383743;
  font-size: 9px;
  padding: 0 0 3.9px 22.7px;
  width: 100%;
}

.auth__icon {
  width: 13px;
  height: 13px;
  position: relative;
  left: 3px;
  top: 11px;
}

.auth__field--mail {
  margin-bottom: 5.3px;
}

.auth__submit {
  width: 162px;
  height: 26.4px;
  background-color: #57bbbc;
  color: white;
  border: none;
  border-radius: 1.8px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
}

.auth__error {
  font-size: 8.1px;
  color: #ff0f44;
  margin: 10px;
}

.auth__error-tip {
  background-color: red;
  width: 11.5px;
  height: 12px;
  border-radius: 100%;
  position: absolute;
  font-size: 8px;
  text-align: center;
  color: white;
  right: 3px;
  top: 10px;
}

@media screen and (min-width: 415px) {
  .auth__logo {
    width: 247.5px;
  }
  .auth__welcome {
    width: 200px;
    font-size: 15px;
    margin-bottom: 20.3px;
  }
  .auth__text {
    font-size: 12px;
    width: 200.9px;
  }
  .auth__single-field {
    width: 250.5px;
  }
  .auth__field {
    font-size: 14px;
    padding: 0 0 3.9px 32.7px;
  }
  .auth__icon {
    width: 20px;
    height: 20px;
    left: 3px;
    top: 16px;
  }
  .auth__field--mail {
    margin-bottom: 10.3px;
  }
  .auth__submit {
    width: 182px;
    height: 36.4px;
    font-size: 12px;
  }
  .auth__error {
    font-size: 12.1px;
    margin: 15px;
  }
  .auth__error-tip {
    width: 14.5px;
    height: 15px;
    font-size: 12px;
    top: 18px;
  }
}

@media screen and (min-width: 769px) {
  .auth__logo {
    width: 260.5px;
  }
  .auth__welcome {
    width: 250px;
    font-size: 18px;
    margin-bottom: 20.3px;
  }
  .auth__text {
    font-size: 15px;
    width: 250.9px;
  }
  .auth__single-field {
    width: 270.5px;
  }
  .auth__field {
    font-size: 16px;
  }
  .auth__submit {
    width: 200px;
    height: 40.4px;
    font-size: 15px;
  }
  .auth__error {
    font-size: 14.1px;
    margin: 18px;
  }
}
