.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth > * {
  align-self: center;
  margin: 0;
}

.auth__logo {
  width: 147.5px;
  margin-bottom: 33.5px;
}

.auth__welcome {
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  font-size: 12px;
  margin-bottom: 10.3px;
}

.auth__text {
  text-align: center;
  font-size: 9px;
  width: 178.9px;
  margin-bottom: 23.8px;
  color: #383743;
}

.auth__form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.auth__single-field {
  width: auto;
  width: 175.5px;
  align-self: center;
}

.auth__icon {
  width: 13px;
  height: 13px;
  position: relative;
  left: 15px;
  top: 3px;
}

.auth__field {
  align-self: center;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #383743;
  font-size: 9px;
  margin-bottom: 21.3px;
  padding: 0 0 3.9px 22.7px;
}

.auth__submit {
  width: 162px;
  height: 26.4px;
  background-color: #57bbbc;
  color: white;
  border: none;
  border-radius: 1.8px;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: bold;
}
